{% extends 'Feedback/base.html' %}

{% block title %} Feedback Form {% endblock %}

{% block feedback %}
  <form action="" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="table-responsive container" >
    <table class="table table-hover table-dark" class="col-sm-12 sm-auto">
      <tr class="table-active" align="center" >
        <th scope="col">Teacher Name &nbsp;&nbsp;&nbsp; </th>
        <th scope="col">Subject Name &nbsp;&nbsp;&nbsp;</th>
        <th scope="col">Punctuality &nbsp;&nbsp;&nbsp;</th>
        <th scope="col">Subject Knowledge</th>
        <th scope="col">Discipline/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Behavior</th>
        <th scope="col">Methodology of
         teaching</th>
        <th scope="col">Communication/
        audibility</th>
        <th scope="col">Syllabus &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Coverage </th>
      </tr>
      {% for teacher, form in Iterators %}
          <tr class="table-active" align="center" >
            <td scope="row">{{ teacher.teacher_name }}</td>
            <td scope="col">{{ teacher.subject_name }}</td>
            {% for field in form %}
              <div class="cont" >
                <td>
                  <table>
                    <tr class="table-active"  >
                        {% for radio in field %}
                            {{ radio.tag }}
                            <label for="{{ radio.id_for_label }}" class="star" >
                            </label>
  
                      {% endfor %}
                    </tr>
                  </table>
                </td>
              </div>
            {% endfor %}
          </tr>
      {% endfor %}
    </table>
  </div>
<div class="container1">
<button class="btn btn-primary btn-xl" type="submit" name="submit">Submit</button>
</div>
  </form>
  <br><br><br><br>
  {% if error %}
      <script> incomplete(); </script>

  {% endif %}
{% endblock %}



