{% extends 'Feedback/base.html' %}

{% block title %} Feedback Form {% endblock %}

{% block feedback %}
<h1 align="center"class="feedback-h1" style="font-size: 60px;">Feedback Form</h1>
  <form action="" method="POST">
    {% csrf_token %}
    {{ formset.management_form }}
    <table border="5" class="w3-table  w3-striped w3-bordered">
      <tr>
        <th>Teacher Name</th>
        <th>Subject Name</th>
        <th>Punctuality</th>
        <th>Subject Knowledge</th>
        <th>Discipline/Behavior</th>
        <th>Methodology of teaching</th>
        <th>Communication/audibility</th>
        <th>Syllabus Coverage</th>
      </tr>
      {% for teacher, form in Iterators %}
          <tr>
            <td>{{ teacher.teacher_name }}</td>
            <td>{{ teacher.subject_name }}</td>
            {% for field in form %}
                <td>
                  <table>
                    <tr>
                      {% for radio in field %}
                          <td>{{ radio }}</td>
                      {% endfor %}
                    </tr>
                    <tr>
                      {% for radio in field %}
                          <td>{{ radio.data.value }}</td>
                      {% endfor %}
                    </tr>
                  </table>
                </td>
            {% endfor %}
          </tr>
      {% endfor %}
    </table><br>
    <center><button class="btn btn-primary" type="submit" name="submit" class="feedback-button">Submit</button></center>
  </form>
  {% if error %}
      <script> incomplete(); </script>
  {% endif %}
{% endblock %}
