{% extends 'Feedback/base.html' %}

{% block title %} Teacher Check {% endblock %}
{%load static%}

{% block feedback %}
    <link rel="stylesheet" type="text/css" href="{% static 'Feedback/teacher_check.css' %}">
	<h1 align="center" style="margin-top: 50px;color: white;text-decoration: underline; text-shadow: 2px 2px #05a151;font-weight: bold;letter-spacing: 2px; font-size: 70px;">Feedback Details</h1><br><br>
	<form action="{%url 'teacher_check'%}" method="POST" style="margin-top: 30px;
	margin-left: 50px;">
			{%csrf_token%}
	<div class="form">		
	<h3>
		Department:-
		<input list="teacher_dept" name ="dropdown" autocomplete="off">
				<datalist id="teacher_dept">
						<option selected="disabled" value="none"></option>
						{% for element in teacher %}<option value="{{ element.teacher_dept }}"></option>{%endfor%}
				</datalist>
		</input>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		Faculty:-
		<input list="teacher_name" name='dropdown1' autocomplete="off">
				<datalist id="teacher_name">
						<option selected="disabled" value="none"></option>
						{% for element in teacher %}<option value="{{ element.teacher_name }}"></option>{%endfor%}
				</datalist>
		</input>
	</h3>
</div><br><br>
	<center><button class="btn btn-primary"name="submit" type="submit" name = 'Submit' style="margin-top: 20px;margin-left:100px;width: 5%;font-size: 15px;">Submit</button></center><br><br>
	{%if Flag == 1%}
	<div class="detail">
			<center><h1 style="font-weight: bold;text-decoration:underline;">Details of {{faculty}}</h1><p style="font-weight: bold;">({{department}})</p></center>
			<table>
				 <thead>
				<th >Section</th><th>Punctuality</th><th>Subject_knowledge</th><th>Behaviour</th><th>Method_of_teaching</th><th>Audibility</th><th>Syllabus_coverage</th></thead>
				{%for F in Feedback%}
					{%if F.teacher.teacher_name == faculty and F.teacher.teacher_dept == department%}
					<tr><td >{{F.section}}</td><td>{{F.Punctuality}}</td><td>{{F.Subject_knowledge}}</td><td>{{F.Behaviour}}</td><td>{{F.Method_of_teaching}}</td><td>{{F.Audibility}}</td><td>{{F.Syllabus_coverage}}</td></tr>
					{%endif%}
				{%endfor%}
			</table>
	</div>			
		{%elif Flag == 0%}
			<script>window.alert("Teacher feedback does not exist");</script>
		{%endif%}	
	</form>	
{%endblock%}